/*body{
    background: url(images.jpg) no-repeat fixed;
    background-size: cover;
}*/
/* TOP PANEL */

#top_panel{
    position: fixed;
    left:30px;
    top: 3px;
    width: 1300px;
    height: 50px;
    background-color: #90ad41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#logo{
    position: absolute;
    top: -15px;
    left: 60px;
    text-align: center;
    z-index: 2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: Arial;
}
#main_site{
    position: absolute;
    top: 15px;
    left: 170px;
    width: 100px;
    height: 25px;
    text-align: center;
    z-index: 2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    background-color:  #657539;
}
a{
    font-family: Arial;
}
a:link{
    text-decoration: none;
    color: #cccfc5;
}
a:visited{
    color: #cccfc5;
}
a:hover{
    color: red;
}
#faq{
    position: absolute;
    top: 15px;
    left: 300px;
    width: 100px;
    height: 25px;
    z-index: 2;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    background-color:  #657539;
}
/* MAIN TEXT */
.main_text{
    position: absolute;
    top: 100px;
    left: 30px;
}
p{
    font-family: Arial;
}
h2{
    font-family: Arial;
}

#cube{
    position: relative;
    left: 100px;
    top: 50px;
    background-color: green;
    width: 100px;
    height: 100px;
}
.cube2{
     position: relative;
    left: 100px;
    top: 50px;
    background-color: green;
    width: 100px;
    height: 100px;
    animation-name: anim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes anim{
    0%{
    }
    30%{
    }
    50%{
        transform: scale(2, 2);
    }
    100%{
        transform: scale(1, 1);
    }
}
.butt{
    position: relative;
    top: 100px;
    left: 600px;
}